{% extends "header.html" %}
{% block content %}
     {% if 'username' not in session %}
    <script>
        alert("需要用户登录!!");
        window.location.href = "/login";
    </script>
    {% endif %}
    <style>
        #div_new{
            background: #ffffff;
            height:580px;
            min-height: 580px;
            width:auto;
        }
        #tbl_new{
            width: 700px;
            height: 100%;
            border:0px solid #d4d4d4;
        }
        .div_ellipsis{
            width:440px;
            white-space: nowrap;
            text-overflow: ellipsis;
{#            -o-text-overflow:ellipsis;#}
            overflow: hidden;
            font-size: 12px;
        }
        .cbp_cursor{
            cursor: pointer;
        }
    </style>
    <script>
        $(function(){
            var dateInit = new Date();
            var testArray = ['2014-10-01','2014-10-02','2014-10-03','2014-10-04'];//表示已经写过日志的日期数组
            var monthArray = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"];
            var dayStr = dateInit.getDate() < 10 ? '0'+ dateInit.getDate():dateInit.getDate();
            var dateStr = dayStr+" "+monthArray[parseInt(dateInit.getMonth())]+"月";
            $("#date_id").html(dateStr);
            $("#datepicker").datepicker({
                inline:true,
                numberOfMonths:1,//显示几个月
                showButtonPanel:true,//是否显示按钮面板
                dateFormat: 'yy-mm-dd',//日期格式
                clearText:"清除",//清除日期的按钮名称
                closeText:"关闭",//关闭选择框的按钮名称
                yearSuffix: '年', //年的后缀
                showMonthAfterYear:true,//是否把月放在年的后面
                monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                changeMonth:false,
                changeYear:false,
                currentText:'Today',
                showOtherMonths:true,
                onSelect: function(selectedDate,inst) {//选择日期后执行的操作
                    var date_url = "/journal/manage/"+selectedDate;
                    window.location.href = date_url;
                }
            });
        });
        function doManage(date){
            var date_url = "/journal/manage/"+date;
            window.location.href = date_url;
        }
    </script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"  style="background: none;height:auto">
      <ul class="nav nav-list">
          <li class="nav-header" style="font-size: 16px;">日志</li>
          <li class="{% if title == "jList" %}active{% endif %}"><a href="/journal/list">主页</a></li>
          <li class="{% if title == "New" %}active{% endif %}"><a href="/journal/new">新建</a></li>
          <li class="{% if title == "jManage" %}active{% endif %}"><a href="/journal/manage">管理</a></li>
          <li class="nav-header" style="font-size: 16px;">计划</li>
          <li><a href="#">主页</a></li>
          <li><a href="#">新建</a></li>
          <li><a href="#">管理</a></li>
      </ul>
    </div>
    <div id="div_new" class="span7" style="background: none;">
      <table id="tbl_new" cellspacing="0" cellpadding="0">
         <tr align="right">
             <td height="50px" style="border-bottom: 0px ridge;background: none;">
                 <a class="btn btn-primary" href="/journal/new">新建日志</a>
             </td>
         </tr>
         <tr>
             <td id="td_area" style="background: #ffffff;vertical-align: top;" >
                 {% if journal_index %}
                 <ul class="cbp_tmtimeline">
                        {% set months = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'] %}
                        {% for row in journal_index %}
                            {% set journal_year = row["journal_date"].split("-")[0] %}
                            {% set journal_month = row["journal_date"].split("-")[1]%}
                            {% set journal_month_chinese = months[journal_month|int-1] %}
                            {% set journal_day = row["journal_date"].split("-")[2] %}
                        <li>
                            <time class="cbp_tmtime" datetime="{{ row["create_date"] }}"><span>{{ journal_year }}</span> <span>{{ journal_month_chinese }} {{ journal_day }}</span></time>
                            <div class="cbp_tmicon"></div>
                            <div class="cbp_tmlabel cbp_cursor" onclick="doManage('{{ row["journal_date"]|string }}')">
                                <h4>工作日志</h4>
                                <p>{{ row["content_str"]|safe }}</p>
                            </div>
                        </li>
                        {% endfor %}
                 </ul>
                 {% else %}
                     <p></p>
                     <label style="font-size: 18px">您还没有编写日志，马上<a href="/journal/new">新建</a>第一份日志吧！</label>
                 {% endif %}
             </td>
         </tr>
      </table>
    </div>
    <div class="span2" style="background: #ffffff;height:auto">
        <div id="datepicker" ></div>
    </div>
  </div>
</div>
{% endblock %}