{% extends "header.html" %}
{% block content %}
    <style>

    </style>
    <script>
        $(function(){
            $("#area_new").css("width", $("#tbl_inside").css("width"));
            var selectedArray = $("#date_id").html().split("-");
            var monthArray = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"];
            var selectedStr = selectedArray[2] + " " + monthArray[parseInt(selectedArray[1])-1] + "月";
            $("#date_id").html(selectedStr);
            $("#datepicker").datepicker({
                inline:true,
                numberOfMonths:1,//显示几个月
                showButtonPanel:true,//是否显示按钮面板
                dateFormat: 'yy-mm-dd',//日期格式
                clearText:"清除",//清除日期的按钮名称
                closeText:"关闭",//关闭选择框的按钮名称
                yearSuffix: '年', //年的后缀
                showMonthAfterYear:true,//是否把月放在年的后面
                monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                changeMonth:false,
                changeYear:false,
                currentText:'Today',
                showOtherMonths:true,
                defaultDate:$("#selected_date_id").val(),
                onSelect: function(selectedDate,inst) {//选择日期后执行的操作
                    var date_url = "/journal/manage/"+selectedDate;
                    window.location.href = date_url;
                }
            });
        });
        function doTask(num) {
            $("[id=task_body_"+num+"]").toggle();
        }
        function doDel(num){
            $("#t_body_"+num).remove();
            $("#del_task_"+(num-1)).show();
        }
        function doNew(){
            var max_num = $("[id^='task_id_']").length+1;
            var str = "<tbody id=\"t_body_"+max_num+"\"><tr>"
                +"    <td colspan=\"2\" style=\"font-size: 24px;height: 50px;\">"
                +"        <a href=\"javascript:doTask(\'"+max_num+"\')\" id=\"task_id_"+max_num+"\">"
                +"            任务"+max_num
                +"        </a>&nbsp;&nbsp;<a id=\"del_task_"+max_num+"\" style=\"font-size: 24px;height: 50px;\" title=\"删除\" onclick=\"doDel("+max_num+")\">×</a>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        具体事项"
                +"    </td>"
                +"    <td>"
                +"        <textarea class=\"input-xxlarge\" style=\"height: 100px;\">"
                +"        </textarea>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        Issue编号"
                +"    </td>"
                +"    <td>"
                +"        <input type=\"text\" class=\"input-xxlarge\">"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        花费时间"
                +"    </td>"
                +"    <td>"
                +"        <input type=\"text\" class=\"input-xxlarge\">"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        完成情况"
                +"    </td>"
                +"    <td>"
                +"        <input type=\"text\" class=\"input-xxlarge\">"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        存在问题"
                +"    </td>"
                +"    <td>"
                +"        <textarea class=\"input-xxlarge\" style=\"height: 100px;\">"
                +"        </textarea>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        解决措施"
                +"    </td>"
                +"    <td>"
                +"        <textarea class=\"input-xxlarge\" style=\"height: 100px;\">"
                +"        </textarea>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        备注"
                +"    </td>"
                +"    <td>"
                +"        <textarea id=\"remark_"+max_num+"\" name=\"remark_"+max_num+"\" class=\"input-xxlarge\" style=\"height: 100px;\"></textarea>"
                +"    </td>"
                +"</tr>"
                +"</tobdy>";
            $("#total_tasks").append(str);
            for(var i=1;i<max_num;i++){
                $("[id='task_body_"+i+"']").hide();
                $("[id='del_task_"+i+"']").hide();
            }
        }
    </script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"  style="background: none;height:auto">
      <ul class="nav nav-list">
          <li class="nav-header" style="font-size: 16px;">日志</li>
          <li class="{% if title == "jList" %}active{% endif %}"><a href="/journal/list">主页</a></li>
          <li class="{% if title == "New" %}active{% endif %}"><a href="/journal/new">新建</a></li>
          <li class="{% if title == "jManage" %}active{% endif %}"><a href="/journal/manage">管理</a></li>
          <li class="nav-header" style="font-size: 16px;">计划</li>
          <li><a href="#">主页</a></li>
          <li><a href="#">新建</a></li>
          <li><a href="#">管理</a></li>
      </ul>
    </div>
    <div id="div_new" class="span7" style="background: none;">
      <table id="tbl_new" cellspacing="0" cellpadding="0" style="vertical-align: top;height: auto;">
         <tr align="right">
             <td height="10%" style="border-bottom: 0px ridge;background: none;">
                 <a class="btn btn-primary" href="#">修改日志</a>
		         <a class="btn" href="/journal/list">返回</a>
             </td>
         </tr>
         <tr>
             <td id="td_area" style="vertical-align: top;">
                 <table align="center" style="width: 100%;" id="tbl_inside">
                     <tr>
                         <td style="height: 100px">
                             <h3 class="head"><textarea id="area_head">管理日志</textarea>
                             <lable class="time" id="date_id">{% if datestr %}{{ datestr }}{% endif %}</lable>
                             <input type="hidden" id="selected_date_id" value={% if datestr %}{{ datestr }}{% endif %}>
                             </h3>
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <div id="div_body">
                                 <table class="table_body" id="total_tasks">
                                     {% if journal_list%}
                                         {% set i=0 %}
                                         {% for row in journal_list%}
                                             {% set i = i + 1 %}
                                             {% set task_display = ""%}
                                             {% if i > 1 %}
                                             {% set task_display="display:none;" %}
                                             {% endif %}
                                             <tr id="task_body_{{ i }}_head">
                                                 <td colspan="2" style="font-size: 24px;height: 50px;"><a onclick="doTask('{{ i }}');" id="task_id_{{ i }}">任务{{ i }}</a>
                                                 <input type="hidden" id="db_task_id" value="{{ row["task_id"] }}"></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>具体事项</td>
                                                 <td><textarea class="input-xxlarge" style="height: 100px;">{{ row["contents"] }}</textarea></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>Issue编号</td>
                                                 <td><input type="text" class="input-xxlarge" value="{{ row["issue"] }}"></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>花费时间</td>
                                                 <td><input type="text" class="input-xxlarge" value="{{ row["spend_time"] }}"></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>完成情况</td>
                                                 <td><input type="text" class="input-xxlarge" value="{{ row["schedule"] }}"></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>存在问题</td>
                                                 <td><textarea class="input-xxlarge" style="height: 100px;">{{ row["problem"] }}</textarea></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>解决措施</td>
                                                 <td><textarea class="input-xxlarge" style="height: 100px;">{{ row["solution"] }}</textarea></td>
                                             </tr>
                                             <tr id="task_body_{{ i }}" style="{{ task_display }}">
                                                 <td>备注</td>
                                                 <td><textarea id="remark_{{ i }}" name="remark_{{ i }}" class="input-xxlarge" style="height: 100px;">{{ row["remark"] }}</textarea></td>
                                             </tr>
                                         {% endfor %}
                                     {% else %}
                                         <label style="font-size: 18px">此日期无日志，请点击<a href="/journal/new">新建日志</a>.</label>
                                     {% endif %}
                                 </table>
                             </div>
                             {% if journal_list %}
                             <div style="height: 60px">
                                 <table class="new_task">
                                     <tr>
                                         <td>
                                             <a href="javascript:doNew();">新任务</a>
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                             {%endif %}
                         </td>
                     </tr>
                 </table>
             </td>
         </tr>
{#         <tr height="8%" ><td  style="background: #ffffff;"></td></tr>#}
      </table>
    </div>
    <div class="span2" style="background: #ffffff;height:auto">
        <div id="datepicker" name="datepicker"></div>
    </div>
  </div>
</div>
{% endblock %}