{% extends "header.html" %}
{% block content %}
    {% if 'username' not in session %}
    <script>
        alert("需要用户登录!!");
        window.location.href = "/login";
    </script>
    {% endif %}
    <script>
        $(function(){
            $("#area_new").css("width", $("#tbl_inside").css("width"));
            var dateInit = new Date();
            var testArray = ['2014-10-01','2014-10-02','2014-10-03','2014-10-04'];//表示已经写过日志的日期数组
            var monthArray = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"];
            var dayStr = dateInit.getDate() < 10 ? '0'+ dateInit.getDate():dateInit.getDate();
            var dayMonth = parseInt(dateInit.getMonth())+1 < 10 ? '0'+ (parseInt(dateInit.getMonth())+1):(parseInt(dateInit.getMonth())+1);
            var days = dateInit.getFullYear()+"-"+dayMonth+"-"+dayStr;
             $("#selected_date_id").val(days);
            var dateStr = dayStr+" "+monthArray[parseInt(dateInit.getMonth())]+"月";
            $("#date_id").html(dateStr);
            existNew(days);
            $("#datepicker").datepicker({
                inline:true,
                numberOfMonths:1,//显示几个月
                showButtonPanel:true,//是否显示按钮面板
                dateFormat: 'yy-mm-dd',//日期格式
                clearText:"清除",//清除日期的按钮名称
                closeText:"关闭",//关闭选择框的按钮名称
                yearSuffix: '年', //年的后缀
                showMonthAfterYear:true,//是否把月放在年的后面
                monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                changeMonth:false,
                changeYear:false,
                currentText:'Today',
                showOtherMonths:true,
                onSelect: function(selectedDate,inst) {//选择日期后执行的操作
                    var selectedArray = selectedDate.split("-");
                    $("#selected_date_id").val(selectedDate);
                    var selectedStr = selectedArray[2] + " " + monthArray[parseInt(selectedArray[1])-1] + "月";
                    //alert(selectedStr);
                     $("#date_id").html(selectedStr);
                    existNew(selectedDate);
                }
            });
        });
        function existNew(selectedDate){
            $.ajax({
             type: "post",
             url: "/journal/new/existNew",
             data: {selected_date: selectedDate, rn: Math.random()},
             dataType: "text",
             async:false,
             success: function(returnvalue){
                                if (parseInt(returnvalue)==1)
                                {
                                    $("#save_id").hide();
                                    $("#div_body").hide();
                                    $("#new_task_btn").html("<label style=\"font-size: 18px;\">当前日期已存在日志哦，马上进入<a href=\"/journal/manage/"+selectedDate+"\">管理日志</a>吧！</label>");
                                }
                                else
                                {
                                    $("#save_id").show();
                                    $("#div_body").show();
                                    $("#new_task_btn").html("<a href=\"javascript:doNew();\">新任务</a>");
                                }
                            }
             });
        }
        function doTask(num) {
            $("[id=task_body_"+num+"]").toggle();
        }
        function doDel(num){
            $("#t_body_"+num).remove();
            $("#del_task_"+(num-1)).show();
        }
        function doNew(){
            var max_num = $("[id^='task_id_']").length+1;
            var str = "<tbody id=\"t_body_"+max_num+"\"><tr>"
                +"    <td colspan=\"2\" style=\"font-size: 24px;height: 50px;\">"
                +"        <a href=\"javascript:doTask(\'"+max_num+"\')\" id=\"task_id_"+max_num+"\">"
                +"            任务"+max_num
                +"        </a>&nbsp;&nbsp;<a id=\"del_task_"+max_num+"\" style=\"font-size: 24px;height: 50px;\" title=\"删除\" onclick=\"doDel("+max_num+")\">×</a>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        具体事项"
                +"    </td>"
                +"    <td>"
                +"        <textarea id=\"content_"+max_num+"\" name=\"content_"+max_num+"\" class=\"input-xxlarge\" style=\"height: 100px;\"></textarea>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        Issue编号"
                +"    </td>"
                +"    <td>"
                +"        <input id=\"issue_"+max_num+"\" name=\"issue_"+max_num+"\" type=\"text\" class=\"input-xxlarge\">"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        花费时间"
                +"    </td>"
                +"    <td>"
                +"        <input id=\"spend_time_"+max_num+"\" name=\"spend_time_"+max_num+"\" type=\"text\" class=\"input-xxlarge\">"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        完成情况"
                +"    </td>"
                +"    <td>"
                +"        <input id=\"schedule_"+max_num+"\" name=\"schedule_"+max_num+"\" type=\"text\" class=\"input-xxlarge\">"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        存在问题"
                +"    </td>"
                +"    <td>"
                +"        <textarea id=\"problem_"+max_num+"\" name=\"problem_"+max_num+"\" class=\"input-xxlarge\" style=\"height: 100px;\"></textarea>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        解决措施"
                +"    </td>"
                +"    <td>"
                +"        <textarea id=\"solution_"+max_num+"\" name=\"solution_"+max_num+"\" class=\"input-xxlarge\" style=\"height: 100px;\"></textarea>"
                +"    </td>"
                +"</tr>"
                +"<tr id=\"task_body_"+max_num+"\">"
                +"    <td>"
                +"        备注"
                +"    </td>"
                +"    <td>"
                +"        <textarea id=\"remark_"+max_num+"\" name=\"remark_"+max_num+"\" class=\"input-xxlarge\" style=\"height: 100px;\"></textarea>"
                +"    </td>"
                +"</tr>"
                +"</tobdy>";
            $("#total_tasks").append(str);
            for(var i=1;i<max_num;i++){
                $("[id='task_body_"+i+"']").hide();
                $("[id='del_task_"+i+"']").hide();
            }
        }
        function doSave(){
            if ("{{session["username"] }}"==""){
                alert("长时间未操作，请重新登录!");
                window.location.href = "/login";
                return;
            }
            var taskNum = $("[id^='task_id_']").length;
            var journal_date = $("#selected_date_id").val();
            var user_id = $("#user_id_session").val();
            var totalStr = journal_date;
            var jsonObj = getFormJson();
            jsonObj.totalStr = totalStr;
            jsonObj.subStr = taskNum;
            $.ajax({
             type: "post",
             url: "/journal/new/doSave",
             data: jsonObj,
             dataType: "text",
             async:false,
             success: function(returnvalue){
                        if (parseInt(returnvalue)==1)
                        {
                            alert("保存成功！");
                            window.location.href = "/journal/manage/"+journal_date;
                        }
                        else
                        {
                            alert("保存失败！"+returnvalue);
                            return;
                        }
                      }
             });
        }
{#        function printObject(obj){#}
{#            //obj = {"cid":"C0","ctext":"区县"};#}
{#            var temp = "";#}
{#            for(var i in obj){//用javascript的for/in循环遍历对象的属性#}
{#            temp += i+":"+obj[i]+"\n";#}
{#            }#}
{#            alert(temp);//结果：cid:C0 \n ctext:区县#}
{#            }#}
        function getFormJson(frm) {
              var o = {};
              var a = $("form").serializeArray();
              $.each(a, function (i,field) {
               if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                 o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
               } else {
                o[this.name] = this.value || '';
               }
              });
              return o;
        }
    </script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"  style="background: none;height:auto;min-height:700px;">
      <ul class="nav nav-list">
          <li class="nav-header" style="font-size: 16px;">日志</li>
          <li class="{% if title == "jList" %}active{% endif %}"><a href="/journal/list">主页</a></li>
          <li class="{% if title == "New" %}active{% endif %}"><a href="/journal/new">新建</a></li>
          <li class="{% if title == "jManage" %}active{% endif %}"><a href="/journal/manage">管理</a></li>
          <li class="nav-header" style="font-size: 16px;">计划</li>
          <li><a href="#">主页</a></li>
          <li><a href="#">新建</a></li>
          <li><a href="#">管理</a></li>
      </ul>
    </div>
    <div id="div_new" class="span7" style="background: none;">
      <table id="tbl_new" cellspacing="0" cellpadding="0" style="vertical-align: top;height: auto;">
         <tr align="right">
             <td height="10%" style="border-bottom: 0px ridge;background: none;">
                 <a class="btn btn-primary" id="save_id" onclick="doSave()">保存日志</a>
		         <a class="btn" href="/journal/list">返回</a>
             </td>
         </tr>
         <tr>
             <td id="td_area" style="vertical-align: top;">
                 <table align="center" style="width: 100%;" id="tbl_inside">
                     <tr>
                         <td style="height: 100px">
                             <h3 class="head"><textarea id="area_head">新建日志</textarea>
                             <lable class="time" id="date_id"></lable>
                             <input type="hidden" id="selected_date_id"><input type="hidden" id="results">
                             </h3>
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <div id="div_body">
                                 <form id="ajax_form" name="ajax_form">
                                 <table class="table_body" id="total_tasks">
                                     <tr id="task_body_1_head">
                                         <td colspan="2" style="font-size: 24px;height: 50px;"><a href="javascript:doTask('1');" id="task_id_1">任务1</a></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>具体事项</td>
                                         <td><textarea id="content_1" name="content_1" class="input-xxlarge" style="height: 100px;"></textarea></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>Issue编号</td>
                                         <td><input id="issue_1" name="issue_1" type="text" class="input-xxlarge"></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>花费时间</td>
                                         <td><input id="spend_time_1" name="spend_time_1" type="text" class="input-xxlarge"></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>完成情况</td>
                                         <td><input id="schedule_1" name="schedule_1" type="text" class="input-xxlarge"></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>存在问题</td>
                                         <td><textarea id="problem_1" name="problem_1" class="input-xxlarge" style="height: 100px;"></textarea></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>解决措施</td>
                                         <td><textarea id="solution_1" name="solution_1" class="input-xxlarge" style="height: 100px;"></textarea></td>
                                     </tr>
                                     <tr id="task_body_1">
                                         <td>备注</td>
                                         <td><textarea id="remark_1" name="remark_1" class="input-xxlarge" style="height: 100px;"></textarea></td>
                                     </tr>
                                 </table>
                                 </form>
                             </div>
                             <div id="" style="height: 60px">
                                 <table class="new_task">
                                     <tr>
                                         <td id="new_task_btn">
                                             <a href="javascript:doNew();">新任务</a>
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                         </td>
                     </tr>
                 </table>
             </td>
         </tr>
{#         <tr height="8%" ><td  style="background: #ffffff;"></td></tr>#}
      </table>
    </div>
    <div class="span2" style="background: #ffffff;height:auto">
        <div id="datepicker" name="datepicker"></div>
    </div>
  </div>
</div>
{% endblock %}