{% extends "header.html" %}
{% block content %}
    <style>
        #div_new{
            background: #ffffff;
            height:580px;
            min-height: 580px;
            width:auto;
        }
        #tbl_new{
            width: 700px;
            height: 100%;
            border:0px solid #d4d4d4;
        }
        #area_new{
            height: 98%;
            border:0px solid;
            box-shadow: none;
            margin-top: 14px;
            resize: none;
        }
        #area_head{
            font-family: 'Microsoft Yahei',tahoma,arial,verdana,sans-serif;
            font-size: 30px;
            resize: none;
            border: none;
            box-shadow: none;
            height: 30px;
            overflow: hidden;
            width: 400px;
            color: #656565;
        }
        .head{
            font-weight:400;
            line-height:23px;
            position:relative;
            /*margin-top:25px;
            margin-bottom:22px;*/
            padding-bottom:10px;
            color:#656565;
            border-bottom:1px solid #e9e9e9;
        }
        .time{
            font-weight:200;
            font-size: 18px;
        }
    </style>
    <script>
        $(function(){
            $("#area_new").css("width", $("#tbl_inside").css("width"));
            var dateInit = new Date();
            var testArray = ['2014-10-01','2014-10-02','2014-10-03','2014-10-04'];//表示已经写过日志的日期数组
            var monthArray = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"];
            var dayStr = dateInit.getDate() < 10 ? '0'+ dateInit.getDate():dateInit.getDate();
            var dateStr = dayStr+" "+monthArray[parseInt(dateInit.getMonth())]+"月";
            $("#date_id").html(dateStr);
            $("#datepicker").datepicker({
                inline:true,
                numberOfMonths:1,//显示几个月
                showButtonPanel:true,//是否显示按钮面板
                dateFormat: 'yy-mm-dd',//日期格式
                clearText:"清除",//清除日期的按钮名称
                closeText:"关闭",//关闭选择框的按钮名称
                yearSuffix: '年', //年的后缀
                showMonthAfterYear:true,//是否把月放在年的后面
                monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                changeMonth:false,
                changeYear:false,
                currentText:'Today',
                showOtherMonths:true,
                onSelect: function(selectedDate,inst) {//选择日期后执行的操作
                    var selectedArray = selectedDate.split("-");
                    var selectedStr = selectedArray[2] + " " + monthArray[parseInt(selectedArray[1])-1] + "月";
                    //alert(selectedStr);
                     $("#date_id").html(selectedStr);
                }
            });
            //done_day(testArray);
        });
        function done_day(testArray){
            $.each($("[id^='someday_']"),function(k,v){
                for (var i= 0;i<testArray.length;i++){
                    if (v.id.substr(8, v.id.length-1)==testArray[i])
                    {
                        v.style.background="url('/static/img/done.png')";
                    }
                }
            });
        }
    </script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"  style="background: none;height:auto">
      <ul class="nav nav-list">
          <li class="nav-header" style="font-size: 15px;">日志</li>
          <li><a href="#">主页</a></li>
          <li class="active"><a href="#">创建</a></li>
          <li><a href="#">修改</a></li>
          <li class="nav-header" style="font-size: 15px;">计划</li>
          <li><a href="#">创建</a></li>
          <li><a href="#">修改</a></li>
      </ul>
    </div>
    <div id="div_new" class="span7" style="background: none;">
      <table id="tbl_new" cellspacing="0" cellpadding="0">
         <tr align="right">
             <td height="10%" style="border-bottom: 0px ridge;background: none;">
                 <a class="btn btn-primary" href="#">保存日志</a>
		         <a class="btn" href="#">返回</a>
             </td>
         </tr>
         <tr height="82%">
             <td id="td_area" style="background: #ffffff;">
                 <table align="center" style="width: 80%" id="tbl_inside">
                     <tr>
                         <td style="" >
                             <h3 class="head"><textarea id="area_head">工作日志</textarea>
                             <lable class="time" id="date_id"></lable>
                             </h3>
                         </td>
                     </tr>
                     <tr>
                         <td style="height: 300px;">
                             <textarea id="area_new"></textarea>
                         </td>
                     </tr>
                 </table>
             </td>
         </tr>
         <tr height="8%" ><td  style="background: #ffffff;"></td></tr>
      </table>
    </div>
    <div class="span2" style="background: #ffffff;height:auto">
        <div id="datepicker" name="123"></div>
    </div>
  </div>
</div>
{% endblock %}